.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}
.into-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(218, 218, 218);
    opacity: 30%;
}



.Homeimage{
    width: 400px;
    height: 500px;
    background-color: #a9a9a970;   
    border-radius: 0px 100px 0 100px;
    position: absolute;
    right: 200px;
    top: 130px;
    border: 10px solid #F2BD00;
    background-image: url(../Assets/BackgrounImage.png);
    background-size: cover;
    
}